<%- include('../partials/navbar.ejs')  %>
<%- include('../partials/header.ejs')  %>

<h1>Add New Product</h1>

<form method="post" action="/products" enctype="multipart/form-data">
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Product Name</label>
		<input
			type="text"
			name="productName"
			class="form-control"
			id="exampleInputEmail1"
		/>
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Quantity</label>
		<input
			type="number"
			name="quantity"
			class="form-control"
			id="exampleInputPassword1"
		/>
	</div>
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Seller Name</label>
		<input
			type="text"
			name="sellerName"
			class="form-control"
			id="exampleInputEmail1"
		/>
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Price</label>
		<input
			type="number"
			name="price"
			class="form-control"
			id="exampleInputPassword1"
		/>
	</div>
  <div class="mb-3">
		<label for="formFile" class="form-label">Upload an Image</label>
    <input class="form-control" name="photo" type="file" id="formFile">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('../partials/footer.ejs')  %>